{% block text_widget %}
    <div {{ react_component('Themes/Input', {
        type: 'text',
        className: attr['class'] ?? '',
        placeholder: attr['placeholder'] ?? '',
        disabled: attr['disabled'] ?? false,
        name: full_name,
        required: required,
        autoComplete: attr['autocomplete'] ?? null,
        id: id
    }) }}>
    </div>

{#    {{ dump() }}#}
{% endblock %}

{% block email_widget %}
    <div {{ react_component('Themes/Input', {
        type: 'email',
        className: attr['class'] ?? '',
        placeholder: attr['placeholder'] ?? '',
        disabled: attr['disabled'] ?? false,
        name: full_name,
        required: required,
        autoComplete: attr['autocomplete'] ?? null,
        id: id
    }) }}>
    </div>
{% endblock %}

{% block textarea_widget %}
    <div {{ react_component('Themes/Textarea', {
        type: 'email',
        className: attr['class'] ?? '',
        placeholder: attr['placeholder'] ?? '',
        disabled: attr['disabled'] ?? false,
        name: full_name,
        required: required,
        autoComplete: attr['autocomplete'] ?? '',
        id: id
    }) }}>
    </div>
{% endblock %}

{% block password_widget %}
    <div {{ react_component('Themes/Input', {
        type: 'password',
        className: attr['class'] ?? '',
        placeholder: attr['placeholder'] ?? '',
        disabled: attr['disabled'] ?? false,
        name: full_name,
        required: required,
        autoComplete: attr['autocomplete'] ?? null,
        id: id
    }) }}>
    </div>
{% endblock %}

{% block checkbox_widget %}
    <div {{ react_component('Themes/Checkbox', {
        className: attr['class'] ?? '',
        disabled: attr['disabled'] ?? false,
        name: full_name,
        label: label,
        required: required,
        id: id
    }) }}>
    </div>
{% endblock %}

{% block checkbox_label %}
{% endblock %}

{% block submit_widget %}
    <div {{ react_component('Themes/SubmitButton', {
        className: attr['class'] ?? '',
        disabled: attr['disabled'] ?? false,
        name: full_name,
        label: label,
        type: 'submit',
        id: id
    }) }}>
    </div>
{% endblock %}

{% block text_label %}
    <div  {{ react_component('Themes/Label', {
        htmlFor: id,
        label: label,
        className: attr['class'] ?? ''
    }) }}>
    </div>
{% endblock %}